*.zip
*.7z
*.exe
*.pro.user
*.o
*.obj
temps/
*.exe
*.pyc

*.png
*.bmp
*.jpg
!figures/*.png
!msvc-build/images/*.png
!mingw-build/images/*.png


mingw-build/D3Dcompiler_47.dll
mingw-build/Qt5Core.dll
mingw-build/Qt5Gui.dll
mingw-build/Qt5Svg.dll
mingw-build/Qt5Widgets.dll
mingw-build/iconengines/
mingw-build/imageformats/
mingw-build/libEGL.dll
mingw-build/libGLESV2.dll
mingw-build/libgcc_s_seh-1.dll
mingw-build/libstdc++-6.dll
mingw-build/libwinpthread-1.dll
mingw-build/moc/
mingw-build/opengl32sw.dll
mingw-build/platforms/
mingw-build/styles/
mingw-build/translations/
mingw-build/ui/
mingw-build/Qt5OpenGL.dll
mingw-build/Qt5Test.dll

msvc-build/D3Dcompiler_47.dll
msvc-build/Qt5Core.dll
msvc-build/Qt5Gui.dll
msvc-build/Qt5Svg.dll
msvc-build/Qt5Widgets.dll
msvc-build/iconengines/
msvc-build/imageformats/
msvc-build/libEGL.dll
msvc-build/libGLESV2.dll
msvc-build/moc/
msvc-build/objects/
msvc-build/opengl32sw.dll
msvc-build/platforms/
msvc-build/styles/
msvc-build/translations/
msvc-build/ui/
msvc-build/Qt5OpenGL.dll
msvc-build/Qt5Test.dll
